# ignore all .out files recursive from current directory
**.out

# ignore all .nfs### files recursive from current directory
**.nfs*

.replit

.Makefile.swp

/test/database.txt
design_document.pdf
security-audit.zip

